---
---

@import "{{ site.theme }}";

body {
  color: black;
}

a {
  color: rgb(197,0,0); 
} 

a:hover {
  color: rgb(197,0,0);
  text-decoration: none;
}

.border {
  border-width: 2px;
  border-color:rgb(197,0,0);
  border-style: solid;
}

figcaption {
  caption-side: bottom;
  text-align: center;
  display: block;
  border: none;
  font-size: 70%;
  width: 170px;
}

<!-- .shortcode {
  overflow: scroll;
   max-height: 200px;
} -->