<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Brad Fidler</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://www.pfsm.ca/feed/' rel='alternate' type='application/atom+xml'>

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>

        <p>toteslates@gmail.com<br>
        New York, USA<br>
        <a href="https://doodle.com/mm/brfd/meet">Set up a meeting</a></p>
        
        <p><a href="https://faculty.stevens.edu/bfidler">Faculty Page</a><br>
        <a href="https://orcid.org/0000-0002-2882-5915">ORCID</a>
        <a href="https://pfsm.substack.com/">Substack</a>
        <a href="https://twitter.com/toteslates/">Twitter</a></p>

            </header>
      <section>

      {{ content }}

      </section>
      
      <footer>

      </footer>
    </div>
    
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  
  </body>
</html>